{% extends 'base.html' %}

{% block content %}
<h3>Change Password for {{user.username}}</h3>


<form method="post">
    {% csrf_token %}
    <div class="row g-3">
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Old Password</label>
            {{form.old_password}}
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">New Password</label>
            {{form.new_password1}}
        </div>
        <div class="col-md-12">
            <label for="inputPassword4" class="form-label">Confirm New Password</label>
            {{form.new_password2}}
        </div>
      </div>

    <button type="submit" class="btn btn-sm btn-primary mt-4">Change Password</button>
</form>
{% endblock content %}